*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: hsl(hue, saturation, lightness);
}

.tip-calculator{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1.4rem;
    width: 700px;
}
label{
    color: hsl(hue, saturation, lightness);
    font-family: 700;
    margin-bottom: 0.3rem;
}

input{
    border: none;
    outline: none;
    padding: 5px;
    padding-right: 18px;
    background-color: hsla(hue, saturation, lightness, alpha) ;
    background-position: 17px 15px;
    text-align: right;
    font-size: 24px;
    font-size: 24px;
    color: darkcyan;
}
.bill-input{
    margin-bottom: 36px;
}
.tip{
    margin-top: 0.7rem;
    display: grid;
    grid-template-columns: 144px 144px;
    row-gap:2em;
    column-gap: 18px;
    margin-bottom: 2rem;
}

.tips{
    background-color: rgb(9, 44, 44);
    color: white;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.active-tips{
    color: darkcyan;
    background-color: aqua;
    font-weight: bolder;
}
.tip-custom{
    width:130px;
    height: 45px;
}